body {
  max-width: 1280px;
  margin: auto;
}

.logo {
  font-size: 65px;
  line-height: 94px;
}

.logo a{
  color: #000000;
  text-decoration: none;
}

.logo a span{
  color: #4BCAFF;
}

.menu{
  background: #35444F;
  margin-bottom: 50px;
}

.menu_list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.menu_list-elem {
  border-left: 1px solid #fff;
}

.menu_list-elem :hover {
 background-color: #222F3A;
}

.menu_list :last-child {
  border-right: 1px solid #fff;
}

.menu_list a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 30px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.sideBar {
  border: 1px solid black;
  width: 344px;
}

.sideBar_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 27px;
  line-height: 27px;
}

.sideBar_menu-item :hover {
  color: black;
  background: #DBDBDB;
  padding-left: 60px;
}

.sideBar_menu-item a :hover {
  padding-left: 20px;
}

.sideBar_menu a {
  text-decoration: none;
  display: block;
  padding: 15px 40px;
  color: #485863;
}

.right {
  display: inline-block;
  width: 885px;
  overflow: hidden;
}

.right img {
  width: 100%;
  transition: all 1s ease-out;
  display: block;
}

.right img :hover{
  transform: scale(1.2);
}

.text {
  margin-top: 30px;
}

footer {
  margin: 50px 0;
  background: rgba(99, 105, 110, 0.48);
  color: #0C1927;
}
.footer_nav {
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  line-height: 24px;
}

.footer_menu {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer_menu-item{
  list-style-type: none;
}

.footer_menu-item :hover{
  color: #4BCAFF;
  text-decoration: underline;
}

.footer_menu-item a {
  text-decoration: none;
  color: #0C1927;
  display: block;
  padding: 15px 40px;
}

/* .footer_menu-item a :hover{
  text-decoration: aqua;
} */

.conf {
  display: flex;
  align-items: center;
  padding-right: 40px;
}